.welcome-header {
    background: linear-gradient(
        to bottom, 
        rgba(196, 164, 132, 1) 25%, 
        rgba(196, 164, 132, 0) 100%
    );
    color: rgb(0, 0, 0);
    width: 100%;
    height: calc(100vh / 10);
    padding-left: 10px;
    font-family: 'Cabin Sketch';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    font-size: 35px;
    font-family: 'Cabin Sketch';
    text-align: left;
    padding: 20px;
    letter-spacing: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 65%;
    font-size: 30px;
    
}

#searchFunction {
    display: flex;
    padding: 10px;
}

#bannerImage {
    width: 100%;
    height: calc(100vh * 2 / 3);
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    display: block;
}