.welcome-header {
    background: #855141;
    color: rgb(0, 0, 0);
    width: 100%;
    height: calc(100vh / 10);
    padding-left: 10px;
    font-family: 'Cabin Sketch';
    display: flex;
}

.logo {
    font-size: 24px;
    font-family: 'Cabin Sketch';
    text-align: left;
    padding: 20px;
    letter-spacing: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    gap: 20px;
    padding-left: 20px;
    width: 80px;
}

#bannerImage {
    width: 100%;
    height: calc(100vh / 2);
}